%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% rs92 read utlity configuration file
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% Joshua Soderholm, April 2016
% Climate Research Group, University of Queensland
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
% config specs
%
% left column  -> variable name
% right column -> variable value
% DELIMITER    -> ~ #########################<<<<<---- THIS IS IMPORTANT
% Comments     -> ~%
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
% surface offsets
%
obs_temp~   34.06~       %C
obs_relh~   45.76~       %percent
obs_pres~   997.58~      %hpa
snd_temp~   34.9~        %C
snd_relh~   30~          %percent
snd_pres~   998.7~       %hpa
%
% location
%
flight_lat~ -27.956~     %dec degs
flight_lon~ 152.615~     %dec degs
flight_h~   120~         %m
flight_date~ 20141127
station_name~ kalbar_02Z
%
% file paths
%
in_path~    /media/meso/DATA/phd/obs/profile/sounding/field/sondemonitor/
ptu_fn~     digitalsonde2014112700Z_A4530200_ptu.csv
grck_fn~    groundtrack2014112700Z_A4530200.txt